# Default ignored files
/shelf/
/workspace.xml
/inspectionProfiles/Project_Default.xml
/appInsightsSettings.xml
/studiobot.xml
/inspectionProfiles/Project_Default.xml
/ChatHistory_schema_v2.xml
/deviceManager.xml
